@using Adultus.ViewModels

@model LayoutViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Styles.Render("~/Content/css")
<table class="table">
    @foreach (var profile in Model.ProfileRoles)
    {
        <tr>
            <th>
                @Html.DisplayFor(model => profile.Id)
            </th>
            <th>
                @Html.DisplayFor(model => profile.ProfileId)
            </th>
            <th>
                @Html.DisplayFor(model => profile.ProfileName)
            </th>
            <th>
                @Html.DisplayFor(model => profile.RoleId)
            </th>
            <th>
                @Html.DisplayFor(model => profile.RoleName)
            </th>
        </tr>
    }
</table>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
